h1 {
    text-align: center;
    margin: 0;
}

.user-section {
    width: 50vw;
    height: 50vh;

    padding-left: 1em;
    padding-right: 1em;

    border-bottom: 2px solid black;
    margin-bottom: 1em;
}

.user-section:first-child {
    border-right: 2px solid black;
}

.video-section {
    width: 100vw;
    height: calc(50vh - 1em - 2px);
}
