.overlay {
    position: absolute;
    z-index: 9001;
}

ng-map {
    width: 100vw;
    height: 100vh;
}

#search-overlay {
    top: 12px;
    left: 110px;
}

#search-overlay input {
    height: 2em;

}

#filter-overlay {
    top: 50px;
    left: 12px;

    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;

    padding: 12px;
}

#filter-overlay p {
    margin-top: 0;
    margin-bottom: 5px;
}

#filter-overlay .number-input {
    width: 20px;
}

#data-overlay {
    top: 12px;
    right: 50px;

    width: 25vw;
    height: calc(100vh - 48px);

    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;

    padding: 12px;
}

#data-overlay table tbody {
    display: block;
    top: 50vh;
    max-height: 50vh;
    overflow: scroll;
    justify-items: center;
}

#aboutButton {
    bottom: 24px;
    left: 12px;
    font-size: 24px;

    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
}