body {
    padding: 0;
    margin: 0;
}

.overlay {
    position: absolute;
    top: 12px;
    left: 110px;
    z-index: 9001;
}

.overlay input {
    height: 2em;
}

ng-map {
    width: 100vw;
    height: 75vh;
}

.content {
    width: 100vw;
    height: 25vh;
    /* Color matches Google Maps park colors */
    background-color: #c0ecae;
}