.overlay {
    position: absolute;
    top: 12px;
    left: 110px;
    z-index: 9001;
}

.overlay input {
    height: 2em;
    width: 500px;
}

ng-map {
    width: 100vw;
    height: 75vh;
}

.content {
    padding: 1em;
    width: 100vw;
    height: 25vh;
    /* Color matches Google Maps park colors */
    background-color: #c0ecae;
}